
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About : </h1>
<p> A Simple Crud App Using .Net Core 5 MVC && Entity FrameWork && MSQLSERVER</p>
<ul>
    <li>Tools :</li>
    <li>Databse : MSQLSERVER </li>
    <li>ORM : Entity FrameWork </li>
    <li>Template Engine : Razor + Bootstrap4 </li>
    <li>IDE : Vs Studio 2019   </li>
</ul>
